{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R&S - MICROFIN | Account</title>
    <!-- Core CSS - Include with every page -->
    <link href="/static/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="/static/assets/css/style.css" rel="stylesheet" />
    <link href="/static/assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="/static/ssets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <!-- <img src="/static/assets/img/logo.png" alt="" /> -->
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!-- <span class="top-label label label-danger">3</span><i class="fa fa-envelope fa-3x"></i> -->
                    </a>
                    <!-- dropdown-messages -->
                    
                    <!-- end dropdown-messages -->
                </li>

                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!-- <span class="top-label label label-warning">5</span>  <i class="fa fa-bell fa-3x"></i> -->
                    </a>
                    <!-- dropdown alerts-->
                    <!-- end dropdown-alerts -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="{% url 'password' %}"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'user_logout' %}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->
{% include 'sidebar1.html' %}
        <!-- navbar side -->
  
        <!-- end navbar side -->
        <!--  page-wrapper -->
        {% block content %}
        <div style="padding: 3em;margin-left: 18em;">
            <center><h1 style="margin-bottom: 1em;color: #18184c;">My Reminders</h1></center>
            {% for reminder in reminder %}
            <div class="container pt-0 card mb-3 mt-4 py-3 px-4" style="width: 700px;background-color: rgb(211, 193, 167);margin-bottom: 1em;" id="signup" align="left">
                <h4 class="card-title mt-3">
                    {{ reminder.title }}
                </h4>
                <p class="card-text my-0"><b>Date: </b>{{ reminder.reminder_date }}</p>
                <p class="card-text my-0"><b>Subject: </b>{{ reminder.content }}</p>
                <p class="card-text my-0"><b>Submitted Date: </b>{{ reminder.date }}</p>
                
                
            </div>
        {% endfor %}
    </div>

{% endblock %}
                
    <!-- Core Scripts - Include with every page -->
    <script src="/static/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/static/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/assets/plugins/pace/pace.js"></script>
    
    <!-- Page-Level Plugin Scripts-->
    <script src="/static/assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/plugins/morris/morris.js"></script>
    <script src="/static/assets/scripts/dashboard-demo.js"></script>
    
</body>

</html>
